INSTALL_BLOCK
.buildpath
.project
.settings/*
docker/data/*
docker/persist/*
docker/.env.production
docker/backups/*
!docker/backups/.gitkeep
vendor/*
attachments/*
temp/*
!temp/.htaccess
uploads/*
test/screenshots/
# Ignore Mac DS_Store files
.DS_Store
/vendor/
.phpunit.result.cache
*.diff
*.rej
